.footer {
    height: 180px;
    background-image: url('../../assets/images/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.footer-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}

.footer-social div {
    font-size: 14px;
}

.footer-social a {
    padding: 5px;
    display: inline-block;
    margin: 0 5px;
    color: #565656;
    font-size: 20px;
}

.footer-social a:hover {
    color: #e16913;
}

.footer-logo {
    height: 45px;
}

.footer-logo img {
    height: 100%;
    width: auto;
}

/* 600 and SMALLER - width */
@media only screen and (max-width: 600px) {
    .footer {
        height: 170px;
    }
    .footer-logo {
        height: 40px;
    }
}

/* 1440 and up - WIDTH */
@media only screen and (min-width: 1440px) {
    .footer {
        height: 190px;
    }
}
